<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  {% include "header.html" %}

</head>
<body>
<div class="container main-body">
<h1> Storyline </h1>
  <p> &emsp; Hi! My name is Melanie. I am a Registered Nurse by day and an inspiring coder at night. On date nights,
    my husband and I love to watch movies. My favorite movies are films that are difficult to guess or predict the plotline,
    such as Inception, Memento, and The Prestige. My husband's favorite movies are Gattaca, Matrix, and There Will Be Blood.</p>
	<p> &emsp; My husband and I love dissecting the characters and the storyline to admire and improve it.
    I was inspired to make a movie trivia game for others that are also movie aficionados. </p>

  <h1>Production</h1>
  <p> &emsp; The Movie Trivia game has a collection of trivia questions from various movies under the sun. Players have a chance
    to answer 3 trivia questions each day, and the player earns 10 popcorn points for answering each trivia question correctly. </p>
	<p> &emsp; Want some popcorn? 🍿 Stay tuned on how you can redeem your popcorn points for a prize. </p>
</div>
{% include "footer.html" %}

</body>
</html>