<!DOCTYPE HTML>

<html>
{% include "header.html" %}

	<body>
		<div class="container">
			<h1>Sign Up Here</h1>
			{% if error %}
    		<p style="color:red; font-size:16px"> {{ error }} </p>
			{% endif %}
			<form method="POST" action="{{ url_for('register_player') }}">
				{{ form.csrf_token }}
        {{ form.first_name.label }} {{ form.first_name(size=100) }}
				{{ form.last_name.label }} {{ form.last_name(size=100) }}
				{{ form.email.label }} {{ form.email(size=100) }}
				{{ form.password.label }} {{ form.password(size=100) }}
				<input type="submit" value="Sign Up">
			</form>
		</div>
		<a style="color:blue; font-size:20px; text-decoration: underline;" class="nav-link" href="/login">I'm already registered. Login instead.</a>

	{% include "footer.html" %}

	</body>
</html>

