<!DOCTYPE HTML>

<html lang="en">
{% include "header.html" %}

<body>
<div class="container main-body">


  <h1 class="title">Movie Trivia of the Day </h1>
  <h2>  🍿 Points: {{ current_user.points }} </h2>
  <div class="forms">

    <h3> {{ question }} </h3>
    <form class="form" method="POST" action="/question/{{ trivia_id }}">
      {{ form.csrf_token }}
      {{ form.options.choices.label }} {{ form.options(size=5) }}
      <input type="submit" value="Submit">
    </form>
  </div>
  {% include "footer.html" %}

</body>
</html>